# sample mailcap file
application/pgp;\
	pgp -m %s;\
	needsterminal
image/jpeg;\
	xv -8 -geometry +0 '%s';\
	description=JPEG Image;\
	test=test "$DISPLAY"
image/*;\
	xv -8 -geometry +0 '%s';\
	description=%t Image;\
	test=test "$DISPLAY";\
	nametemplate=%s.IMAGE
message/rfc822;\
	formail > '%s.mbox' < '%s' \&\& mutt -m mbox -f '%s.mbox' \&\& rm -f '%s.mbox';\
	description=Mail Text;\
	needsterminal
text/html;\
	lynx -force_html '%s';\
	description=HTML Text;\
	needsterminal;\
	nametemplate=%s.html
text/*;\
	${PAGER:-"more"} '%s'\;
	edit=${EDITOR:-"vi"} '%s';\
	compose=${EDITOR:-"vi"} '%s';\
	print=a2ps '%s';\
	needsterminal
