#!/usr/bin/make -f
SHELL=/bin/bash -e

QUILT_STAMPFN := debian/.stamp-patched
include /usr/share/quilt/quilt.make

D := $(CURDIR)/debian/tin

DOCS := INSTALL WHATSNEW TODO auth.txt filtering keymap.sample \
	reading-mail.txt umlaute.txt umlauts.txt tools.txt

# Workaround for #323016. Suboptimal, but who cares about m68k anyway? :-)
DEB_BUILD_ARCH := $(shell dpkg-architecture -qDEB_BUILD_ARCH)
ifeq ($(DEB_BUILD_ARCH),m68k)
DEBOPTS := CFLAGS=-O1
endif

clean: unpatch
	rm -f debian/.stamp-*
	$(MAKE) distclean
	dh_clean

configure: debian/.stamp-configure
debian/.stamp-configure: $(QUILT_STAMPFN)
	dh_testdir
	CFLAGS='-g -O2' ./configure \
		--prefix=/usr --mandir=\$${prefix}/share/man \
		--with-pcre=/usr --with-domain-name=/etc/mailname \
		--with-mailbox=/var/mail \
		--with-editor=/usr/bin/editor --with-ispell=ispell \
		--without-pgp --without-pgpk --with-gpg=gpg \
		--with-sum=sum --with-shell=bash \
		--with-spool-dir=/var/spool/news \
		--with-nov-dir=/var/spool/news/over.view \
		--with-libdir=/var/lib/news --with-inews-dir=/usr/bin \
		--with-nntp-default-server=localhost \
		--with-screen=ncursesw --enable-nntp --enable-ipv6 \
		--enable-included-msgs --enable-nls \
		--enable-mh-mail-handling --enable-cancel-locks \
		--with-mime-default-charset=ISO-8859-15
	touch $@

build: debian/.stamp-build
debian/.stamp-build: debian/.stamp-configure
	dh_testdir
	cd src && $(MAKE) $(DEBOPTS)
	touch $@

binary-arch: debian/.stamp-build checkroot
	dh_testdir
	dh_clean -k
	dh_installdirs /etc/tin/ /usr/bin/ /usr/share/doc/tin/tools/

	$(MAKE) -C src install_nls prefix=$D/usr
	cp src/tin $D/usr/bin/
	cp doc/tin.defaults $D/etc/tin/
	cp tools/* $D/usr/share/doc/tin/tools/

	dh_installmenu
	dh_installdocs $(addprefix doc/,$(DOCS))
	dh_installman doc/tin.1 doc/tin.5 
	dh_link usr/share/man/man1/tin.1.gz usr/share/man/man1/rtin.1.gz \
		usr/bin/tin usr/bin/rtin
	cat doc/CHANGES doc/CHANGES.old | dh_installchangelogs /dev/fd/0
	dh_installdebconf
	dh_strip
	dh_compress
	dh_fixperms
	dh_shlibdeps
	dh_gencontrol
	dh_installdeb
	dh_md5sums
	dh_builddeb

debian/po/templates.pot: debian/templates
	debconf-updatepo

checkroot:
	test root = "`whoami`"

binary:	binary-arch binary-indep

.PHONY: binary binary-arch binary-indep unpack configure build clean checkroot
