#!/bin/sh -e

. /usr/share/debconf/confmodule
db_version 2.0

db_beginblock

# Note this oode block is duplicated in slrnpull's config script.
if [ ! -s /etc/news/server ]; then
	# No news server file currently exists (or it's empty).
	db_get shared/news/server
	SERVER="$RET"
	# If there is no server set, try to guess a good value.
	if [ -z "$SERVER" ]; then
		NETNAME="`hostname -d`"
		if [ ! -z "$NETNAME" ]; then
			db_set shared/news/server "news.$NETNAME"
		fi
	fi
	db_input medium shared/news/server || true
else
	# Reconfiguring the package, or a news server file already exists.
	# Still ask the question, though it may or may not be seen. Just
	# use the first line of the file now as the default answer.
	db_set shared/news/server "`head -1 /etc/news/server`"
	db_input medium shared/news/server || true
fi

db_endblock
db_go || true

